:root {
font-family: "Open Sans", sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

#local {
    width: 1120px;
    margin: 88px auto;

}

.conheça h3,
.conheça h2 {

margin-bottom: 8px;

}


.conheça img,
.conheça p {

margin-bottom: 24px;


}

.conheça p {

text-align: center;

max-width: 100%;

}




h3 {
    color: red;
}

.azul {  /*li */
    color: blue;
}

.roxo {  /*li */
    color: blueviolet;
}

.rosa {  /*li */
    color: palevioletred;
}

.laranja {  /*li */
    color: orange;
}

footer {
    text-align: center;
}




